.task-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    .task-header {
        display: flex;
        align-items: center;

        input[type="checkbox"] {
            margin-right: 10px;
            transform: scale(1.2);
        }
    }

    .subtasks {
        z-index: 1000;
    }

    .task-buttons {
        margin-left: 20px;
        display: flex;
        gap: 10px;

        button {
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #45a049;
            }

            img {
                width: 15px;
                height: 15px;
            }
        }
    }
}
